{% extends "base.html" %}

{% block title %}<a href="{{ space.get_absolute_url }}">{{ space.Title }}</a>/{{ page.Title }}{% endblock %}
{% block browserTitle %}{{ space.Title }}/{{ page.Title }}{% endblock %}

{% block content %}
	<div style="float: right; width: 20%; border: 1px solid #6f8; padding: 10px;">
		{% for outPage in outPages %}<a href="{{ outPage.get_absolute_url }}">{{ outPage.Title }} ({{ outPage.NumberOfLinks }})</a><br/>{% endfor %}
		<p/>[<a href="{{ page.get_absolute_edit_url }}">Edit This Page</a>] Last edited {{ page.LastUpdated|timesince}} ago by {{ page.LastUpdateIP }}<p/>
	</div>

	<em  style="color:#999;"><strong>Tags:</strong> {% for tag in page.Tags.all %}{{ tag.Title }}, {% endfor %}</em><p/>

	<div id="pageContents" class="pageContents">{{ body|safe }}</div><p/>

	<em  style="color:#999;"><strong>Tags Found In This Page:</strong> {% for tag in tags %}{{ tag.Title }} ({{ tag.CountInBody }}), {% endfor %}</em><p/>


	<script>
		function makeTagsClickable() {
			var l = $('pageContents').childElements();
			for (var i = (l.length-1); i >= 0; i--) {
				if(l[i].hasClassName('tag')) {
					Event.observe(l[i], 'click', tagClicked);
				}
			}	
		}

		function tagClicked() {
			var newContainer = new Element('div');
			$('pageContents').insert(newContainer);
			newContainer.absolutize();
			newContainer.clonePosition(this, {'offsetLeft':10,'offsetTop':10});
			newContainer.style.width = '300px';
			newContainer.style.height = '200px';
			var b = new Element('span').update("Close");
			newContainer.insert(b);
			Event.observe(b, 'click', closeTags);
			var a = new Element('span').update("Loading");
			newContainer.insert(a);
			newContainer.style.background = 'white';
			newContainer.style.border = '#6fa 2px solid';
			new Ajax.Updater(a, '{{ space.get_absolute_url }}t/'+encodeURIComponent(this.title)+'/ajax/');
		}
		function closeTags() {
			this.up().remove();
		}
	</script>

{% endblock %}

{% block onbodyload %}makeTagsClickable();{% endblock %}
